body{
  background-color: black;
  margin: 500px 500px;
  text-align: center;
}
h1{
  position: absolute;
  z-index: 2;
  margin: -400px 0 0 550px;
  color: white;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 72px;
}
button{
  position: absolute;
  margin: -370px 0 0 550px;
  height: 150px;
  width: 150px;
  font-size: 72px
}
#circle {
  position: absolute;
  z-index: 8;
  width: 650px;
  height: 650px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 220px 0 0 375px;
}
#center-circle {
  position: absolute;
  z-index: 8;
  width: 450px;
  height: 450px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 320px 0 0 480px;
}
/*
==========================
*/
#yellow-gameboard {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 600px;
  transform: rotate(240deg);
  background: gold;
  margin: 470px 0 0 210px;
  padding: 0px;
}
#yellow-start-base {
  position: absolute;
  z-index: -1;
  margin: 870px -100px; 
  padding: 12px;
  transform: rotate(60deg);
  height: 100px;
  width: 350px;
}
#yellow-start-base:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: gold;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#yellow-start-base:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: gold;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​
#yellow-start1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 625px;
}
#yellow-start2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 625px;
}
#yellow-start3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 725px;
}
#yellow-start4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1245px 0 0 800px;
}
#yellow1 {
  position: absolute;
  z-index: 8;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 870px 0 0 120px;
}
#yellow2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 820px 0 0 90px;
}
#yellow3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 770px 0 0 60px;
}
#yellow4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 740px 0 0 120px;
}
#yellow5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 705px 0 0 180px;
}
#yellow6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 675px 0 0 240px;
}
#yellow7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 640px 0 0 300px;
}
#yellow8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 820px 0 0 420px;
}
#yellow9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 855px 0 0 360px;
}
#yellow10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 890px 0 0 300px;
}
#yellow11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 925px 0 0 240px;
}
#yellow12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 970px 0 0 180px;
}
#yellow13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 920px 0 0 150px;
}
#yellow-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 545px 0 0 380px;
}
#yellow-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 840px 0 0 180px;
}
#yellow-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 800px 0 0 250px;
}
#yellow-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 760px 0 0 320px;
}
#yellow-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 720px 0 0 390px;
}
#yellow-star {
   margin: 790px 745px;
   position: absolute;
   z-index: 4;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid gold;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(40deg);
   -webkit-transform: rotate(40deg);
   -ms-transform:     rotate(40deg);
   -o-transform:      rotate(40deg);
}
#yellow-star:before {
   border-bottom: 80px solid gold;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#yellow-star:after {
   position: absolute;
   display: block;
   color: gold;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid gold;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/*
===========================
*/
#blue-gameboard {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 600px;;
  transform: rotate(120deg);
  background: blue;
  margin: 470px 0 0 880px;
  padding: 0;
}
#blue-start-base{
  position: absolute;
  z-index: -1;
  margin: 870px 1110px; 
  padding: 12px;
  transform: rotate(300deg);
  height: 100px;
  width: 350px;
}
#blue-start-base:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: blue;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#blue-start-base:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: blue;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​
#blue-start1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1460px 0 0 625px;
}
#blue-start2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 625px;
}
#blue-start3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 725px;
}
#blue-start4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1245px 0 0 800px;
}
/*#blue-piece1{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #33ccff;
  border-radius: 50%;
 }
#blue-piece2{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #33ccff;
  border-radius: 50%;
 }
 #blue-piece3{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #33ccff;
  border-radius: 50%;
 }
 #blue-piece4{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #33ccff;
  border-radius: 50%;
 }*/
#blue1 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 870px 0 0 1220px;
}
#blue2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 925px 0 0 1190px;
}
#blue3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 980px 0 0 1160px;
}
#blue4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 940px 0 0 1100px;
}
#blue5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 900px 0 0 1035px;
}
#blue6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 865px 0 0 975px;
}
#blue7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 835px 0 0 920px;
}
#blue8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 640px 0 0 1055px;
}
#blue9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 670px 0 0 1110px;
}
#blue10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 700px 0 0 1165px;
}
#blue11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 730px 0 0 1220px;
}
#blue12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 760px 0 0 1275px;
}
#blue13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 815px 0 0 1250px;
}
#blue-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 805px 0 0 820px;
}
#blue-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 845px 0 0 1160px;
}
#blue-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 805px 0 0 1085px;
}
#blue-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 770px 0 0 1020px;
}
#blue-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 735px 0 0 955px;
}
#blue-star {
   margin: 265px 755px;
   position: absolute;
   z-index: 2;
   display: block;
   color: blue;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid blue;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(65deg);
   -webkit-transform: rotate(65deg);
   -ms-transform:     rotate(65deg);
   -o-transform:      rotate(65deg);
}
#blue-star:before {
   border-bottom: 80px solid blue;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#blue-star:after {
   position: absolute;
   display: block;
   color: blue;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid blue;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/*
=======================
*/

#green-gameboard {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 600px;
  transform: rotate(60deg);
  background: green;
  margin: 60px 0 0 880px;
  padding: 0;
}
#green-start-base{
  position: absolute;
  z-index: -1;
  margin: 150px 1100px; 
  padding: 12px;
  transform: rotate(240deg);
  height: 100px;
  width: 350px;
}
#green-start-base:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: green;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#green-start-base:after {
  content: '';
  position: absolute;
  z-index: -1;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: green;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​
#green-start1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 50px 0 0 340px;
}
#green-start2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 250px 0 0 1140px;
}
#green-start3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 250px 0 0 1140px;
}
#green-start4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 250px 0 0 1140px;
}
#green1 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 220px 0 0 1195px;
}
#green2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 270px 0 0 1225px;
}
#green3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 320px 0 0 1255px;
}
#green4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 350px 0 0 1200px;
}
#green5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 380px 0 0 1145px;
}
#green6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 410px 0 0 1090px;
}
#green7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 440px 0 0 1035px;
}
#green8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 250px 0 0 930px;
}
#green9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 220px 0 0 985px;
}
#green10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 190px 0 0 1040px;
}
#green11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 160px 0 0 1095px;
}
#green12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 120px 0 0 1140px;
}
#green13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 170px 0 0 1170px;
}
#green-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 540px 0 0 980px;
}
#green-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 250px 0 0 1140px;
}
#green-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 280px 0 0 1085px;
}
#green-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 310px 0 0 1030px;
}
#green-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 340px 0 0 975px;
}
#green-star {
   margin: 270px 460px;
   padding: 0;
   position: absolute;
   z-index: 2;
   display: block;
   color: green;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid green;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(75deg);
   -webkit-transform: rotate(75deg);
   -ms-transform:     rotate(75deg);
   -o-transform:      rotate(75deg);
}
#green-star:before {
   border-bottom: 80px solid green;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#green-star:after {
   position: absolute;
   display: block;
   color: green;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid green;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/*
================================
*/
#white-gameboard {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 600px;
  transform: rotate(300deg);
  background: white;
  margin: 60px 0 0 210px;
  padding: 0;
}
#white-start-base{
  position: absolute;
  z-index: -1;
  margin: 130px -120px; 
  padding: 12px;
  transform: rotate(120deg);
  height: 100px;
  width: 350px;
}
#white-start-base:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: white;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#white-start-base:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​
#white1 {
  position: absolute;
  z-index: 600;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 205px 0 0 110px;
}
#white2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 155px 0 0 140px;
}
#white3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 105px 0 0 170px;
}
#white4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 135px 0 0 225px;
}
#white5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 165px 0 0 280px;
}
#white6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 195px 0 0 335px;
}
#white7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 225px 0 0 390px;
}
#white8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 425px 0 0 275px;
}
#white9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 395px 0 0 220px;
}
#white10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 365px 0 0 165px;
}
#white11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 335px 0 0 110px;
}
#white12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 305px 0 0 55px;
}
#white13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 255px 0 0 80px;
}
#white-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 280px 0 0 530px;
}
#white-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 235px 0 0 165px;
}
#white-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 265px 0 0 220px;
}
#white-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 295px 0 0 275px;
}
#white-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 325px 0 0 330px;
}
#white-star {
   margin: 785px 455px;
   position: absolute;
   z-index: 2;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(30deg);
   -webkit-transform: rotate(30deg);
   -ms-transform:     rotate(30deg);
   -o-transform:      rotate(30deg);
}
#white-star:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#white-star:after {
   position: absolute;
   display: block;
   color: white;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/*
=============================
*/
#orange-gameboard {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 600px;
  background: orange;
  margin: -110px 0 0 545px;
  padding: 0;
}
#orange-start-base{
  position: absolute;
  z-index: -1;
  margin: -200px 505px; 
  padding: 12px;
  transform: rotate(180deg);
  height: 100px;
  width: 350px;
}
#orange-start-base:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: orange;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#orange-start-base:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: orange;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​
#orange1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -100px 0 0 670px;
}
#orange2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -100px 0 0 730px;
}
#orange3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -100px 0 0 790px;
}
#orange4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -40px 0 0 790px;
}
#orange5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 20px 0 0 790px;
}
#orange6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 80px 0 0 790px;
}
#orange7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 140px 0 0 790px;
}
#orange8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 140px 0 0 550px;
}
#orange9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 80px 0 0 550px;
}
#orange10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 20px 0 0 550px;
}
#orange11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -40px 0 0 550px;
}
#orange12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -100px 0 0 550px;
}
#orange13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -100px 0 0 610px;
}
#orange-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 275px 0 0 830px;
}
#orange-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: -40px 0 0 670px;
}
#orange-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 20px 0 0 670px;
}
#orange-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 80px 0 0 670px;
}
#orange-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 140px 0 0 670px;
}
#orange-star {
   margin: 530px 305px;
   position: absolute;
   z-index: 2;
   display: block;
   color: orange;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid orange;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(20deg);
   -webkit-transform: rotate(20deg);
   -ms-transform:     rotate(20deg);
   -o-transform:      rotate(20deg);
}
#orange-star:before {
   border-bottom: 80px solid orange;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#orange-star:after {
   position: absolute;
   display: block;
   color: orange;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid orange;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/*
=============================
*/
#red-gameboard {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 600px;
  background: red;
  margin: 640px 0 0 545px;
  padding: 0;
}
#red-start-base{
  position: absolute;
  z-index: -1;
  z-index: 0;
  margin: 1200px 505px; 
  padding: 12px;
  transform: rotate(360deg);
  height: 100px;
  width: 350px;
}
#red-start-base:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: red;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#red-start-base:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: red;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​
#red-start1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 625px;
}
#red-start2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 625px;
}
#red-start3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1260px 0 0 725px;
}
#red-start4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1245px 0 0 800px;
}
/*#red-piece1{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #ff704d;
  border-radius: 50%;
 }
#red-piece2{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #ff704d;
  border-radius: 50%;
 }
 #red-piece3{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #ff704d;
  border-radius: 50%;
 }
 #red-piece4{
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  background: #ff704d;
  border-radius: 50%;
 }*/
#red1 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1175px 0 0 670px;
}
#red2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1175px 0 0 730px;
}
#red3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1175px 0 0 790px;
}
#red4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1115px 0 0 790px;
}
#red5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1055px 0 0 790px;
}
#red6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 995px 0 0 790px;
}
#red7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 935px 0 0 790px;
}
#red8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 935px 0 0 550px;
}
#red9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 995px 0 0 550px;
}
#red10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1055px 0 0 550px;
}
#red11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1115px 0 0 550px;
}
#red12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1175px 0 0 550px;
}
#red13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1175px 0 0 610px;
}
#red-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 800px 0 0 525px;
}
#red-star {
   margin: 530px 910px;
   position: absolute;
   z-index: 2;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(55deg);
   -webkit-transform: rotate(55deg);
   -ms-transform:     rotate(55deg);
   -o-transform:      rotate(55deg);
}
#red-star:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#red-star:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
#red-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1115px 0 0 670px;
}
#red-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 1055px 0 0 670px;
}
#red-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 995px 0 0 670px;
}
#red-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 935px 0 0 670px;
}
/* ======================*/


