body{
  background-color: black;
  margin: auto;
  text-align: center;
}
h1{
  color: white;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 48px;
}
  #circle {
  position: absolute;
  z-index: 0;
  width: 650px;
  height: 650px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 220px 0 0 375px;
  }
  #center-circle {
  position: absolute;
  z-index: 2;
  width: 450px;
  height: 450px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 320px 0 0 480px;
  }
#yellow-gameboard {
  position: absolute;
  width: 300px;
  height: 600px;
  transform: rotate(240deg);
  background: yellow;
  margin: 470px 0 0 210px;
  padding: 0px;
  z-index: -1;
}
#yellow1 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 870px 0 0 120px;
  }
#yellow2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 820px 0 0 90px;
  }
#yellow3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 770px 0 0 60px;
  }
#yellow4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 740px 0 0 120px;
  }
#yellow5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 705px 0 0 180px;
  }
#yellow6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 675px 0 0 240px;
  }
#yellow7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 640px 0 0 300px;
  }
  #yellow8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 820px 0 0 420px;
  }
  #yellow9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 855px 0 0 360px;
  }
  #yellow10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 890px 0 0 300px;
  }
  #yellow11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 925px 0 0 240px;
  }
#yellow12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 970px 0 0 180px;
  }
#yellow13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 920px 0 0 150px;
  }
#yellow-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 545px 0 0 380px;
  }
#yellow-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 840px 0 0 180px;
  }
  #yellow-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 800px 0 0 250px;
  }
  #yellow-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 760px 0 0 320px;
  }
  #yellow-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 720px 0 0 390px;
  }
#yellow-star {
   margin: 790px 745px;
   position: absolute;
   z-index: 2;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(40deg);
   -webkit-transform: rotate(40deg);
   -ms-transform:     rotate(40deg);
   -o-transform:      rotate(40deg);
}
#yellow-star:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#yellow-star:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#blue-gameboard {
  position: absolute;
  width: 300px;
  height: 600px;;
  transform: rotate(120deg);
  background: blue;
  margin: 470px 0 0 880px;
  padding: 0;
  z-index: -1;
}
#blue1 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 870px 0 0 1220px;
  }
#blue2 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 925px 0 0 1190px;
  }
#blue3 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 980px 0 0 1160px;
  }
#blue4 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 940px 0 0 1100px;
  }
#blue5 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 900px 0 0 1035px;
  }
#blue6 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 865px 0 0 975px;
  }
#blue7 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 835px 0 0 920px;
  }
  #blue8 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 640px 0 0 1055px;
  }
  #blue9 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 670px 0 0 1110px;
  }
  #blue10 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 700px 0 0 1165px;
  }
  #blue11 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 730px 0 0 1220px;
  }
#blue12 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 760px 0 0 1275px;
  }
#blue13 {
  position: absolute;
  z-index: 0;
  width: 50px;
  height: 50px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 815px 0 0 1250px;
  }
#blue-star-center {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 805px 0 0 820px;
  }
#blue-home-base1 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 845px 0 0 1160px;
  }
  #blue-home-base2 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 805px 0 0 1085px;
  }
  #blue-home-base3 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 770px 0 0 1020px;
  }
  #blue-home-base4 {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 735px 0 0 955px;
  }
#blue-star {
   margin: 265px 755px;
   position: absolute;
   z-index: 2;
   display: block;
   color: blue;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid blue;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(65deg);
   -webkit-transform: rotate(65deg);
   -ms-transform:     rotate(65deg);
   -o-transform:      rotate(65deg);
}
#blue-star:before {
   border-bottom: 80px solid blue;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#blue-star:after {
   position: absolute;
   display: block;
   color: blue;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid blue;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#green-gameboard {
  position: absolute;
  width: 300px;
  height: 600px;
  transform: rotate(60deg);
  background: green;
  margin: 60px 0 0 880px;
  padding: 0;
  z-index: -1;
}
#green-star {
   margin: 270px 460px;
   padding: 0;
   position: absolute;
   z-index: 2;
   display: block;
   color: green;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid green;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(75deg);
   -webkit-transform: rotate(75deg);
   -ms-transform:     rotate(75deg);
   -o-transform:      rotate(75deg);
}
#green-star:before {
   border-bottom: 80px solid green;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#green-star:after {
   position: absolute;
   display: block;
   color: green;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid green;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#white-gameboard {
  position: absolute;
  width: 300px;
  height: 600px;
  transform: rotate(300deg);
  background: white;
  margin: 60px 0 0 210px;
  padding: 0;
  z-index: -1;
}
#white-star {
   margin: 785px 455px;
   position: absolute;
   z-index: 2;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(30deg);
   -webkit-transform: rotate(30deg);
   -ms-transform:     rotate(30deg);
   -o-transform:      rotate(30deg);
}
#white-star:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#white-star:after {
   position: absolute;
   display: block;
   color: white;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#orange-gameboard {
  position: absolute;
  width: 300px;
  height: 600px;
  background: orange;
  margin: -110px 0 0 545px;
  padding: 0;
  z-index: -1;
}
#orange-star {
   margin: 530px 305px;
   position: absolute;
   z-index: 2;
   display: block;
   color: orange;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid orange;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(20deg);
   -webkit-transform: rotate(20deg);
   -ms-transform:     rotate(20deg);
   -o-transform:      rotate(20deg);
}
#orange-star:before {
   border-bottom: 80px solid orange;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#orange-star:after {
   position: absolute;
   display: block;
   color: orange;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid orange;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
#red-gameboard {
  position: absolute;
  width: 300px;
  height: 600px;
  background: red;
  margin: 640px 0 0 545px;
  padding: 0;
  z-index: -3;
}

#red-star {
   margin: 530px 910px;
   position: absolute;
   z-index: 2;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(55deg);
   -webkit-transform: rotate(55deg);
   -ms-transform:     rotate(55deg);
   -o-transform:      rotate(55deg);
}
#red-star:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#red-star:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}



#green-start-base{
  position: absolute;
  margin: 150px 1100px; 
  padding: 12px;
  transform: rotate(240deg);
  height: 100px;
  width: 350px;
}
#green-start-base:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: green;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#green-start-base:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: green;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​

/*#yellow-start-base{
  position: absolute;
  margin: 150px 1100px; 
  padding: 12px;
  transform: rotate(240deg);
  height: 100px;
  width: 350px;
}
#yellow-start-base:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: yellow;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#yellow-start-base:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: yellow;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​
*/
/*#blue-start-base{
  position: absolute;
  margin: 150px 1100px; 
  padding: 12px;
  transform: rotate(240deg);
  height: 100px;
  width: 350px;
}
#blue-start-base:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: blue;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#blue-start-base:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: blue;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​*/

/*#white-start-base{
  position: absolute;
  margin: 150px 1100px; 
  padding: 12px;
  transform: rotate(240deg);
  height: 100px;
  width: 350px;
}
#white-start-base:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: white;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#white-start-base:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​*/

/*#orange-start-base{
  position: absolute;
  margin: 150px 1100px; 
  padding: 12px;
  transform: rotate(240deg);
  height: 100px;
  width: 350px;
}
#orange-start-base:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: orange;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#orange-start-base:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: orange;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​*/

/*#red-start-base{
  position: absolute;
  margin: 150px 1100px; 
  padding: 12px;
  transform: rotate(240deg);
  height: 100px;
  width: 350px;
}
#red-start-base:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: red;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#red-start-base:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: red;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​*/

